<<<<<<< HEAD
/*
 * === Header style ===
 */

/* Header style */
header {
  background-color: #f00;
  height: 70px;
  width: 100%;
=======
header {
    background-color: #FF0000;
    height: 70px;
    width: 100%;
>>>>>>> 5fba8970b1766db3d88a00006b127ac628fd4824
}
